body {
    background-color: #212529;
}

h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin: 50px;
}

h2 {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 25px;
}

h3 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 18px;
}

#show {
    text-align: left;
}