/* class GmbHUID margin bottom of 50px */
.GmbHUID {
    margin-bottom: 50px;
}

/* class FNFBSitz margin bottom of 50px */
.FNFBSitz {
    margin-bottom: 50px;
}

/*class TelEmail margin bottom of 50px */
.TelEmail {
    margin-bottom: 50px;
}

/* class WKOEBrBh margin bottom of 50px */
.WKOEBrBh {
    margin-bottom: 50px;
}

/* class ec margin bottom of 50px */
.ec {
    margin-bottom: 50px;
}

/* class Hv margin bottom of 10px */
.Hv {
    margin-bottom: 10px;
}