/* TODO: px in % umwandeln, Login, Registrierung verschönern, maybe Farben*/

.h1 {
    border: 2px double;
    border-radius: 200px;
    text-align: center;
    border-width: 12px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 22%;
    margin-left: 22%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.faq-header-all {
    padding-left: 13%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.faq-header-questions {
    margin-bottom: 5%;
    border-bottom: solid;
    margin-right: 40%;
}

.faq-header-head {
    margin-bottom: 4%;
}

.faq-header-answers {
    margin-left: 2%;
}

.header-nav {
    flex: 1;
    text-align: right;
    margin-right: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-nav-items {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}


.header-nav-links {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.header-nav-links:hover {
    color: white;
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
}

.footer {
    left: 0; 
    right: 0;
    bottom: 0;
    background: #000;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-nav-items {
    list-style: none;
    display: inline-block;
    margin-left: 60px;  
}

.footer-nav-links {
    text-decoration: none;
    color:  #fff;
    font-size: 25px;
}

.impressum-all {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding-left: 240px;
}

.impressum-img {
    margin-left: 240px;
}

.registrierung-all {
    padding-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-all {
    padding-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
}

.margin-font {
    padding-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
}