body,
h1,
h2,
h3,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../../res/img/tropicana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
    margin: 2rem;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
}

.login-box {
    background: rgba(0, 0, 0, .7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    /* Erhöhen Sie den Wert 50px, um den Abstand von der Oberseite zu erhöhen */
    padding: 20px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.login-box .user-box label {
    position: absolute;
    top: -30px;
    left: 0rem;
    padding: 10px 0;
    font-size: 16px;
    color: #03e9f4;
    pointer-events: none;
    transition: .5s;
}


.loginBoxSubmit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    background: transparent;
    border-radius: 10px;
}

.loginBoxSubmit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    border-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px
}

.login-box .a-glow:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}



.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

:root {
    --success-background: #3dd31f;
    --success-primary: #16470f;
    --warning-background: #ff0000;
    --warning-primary: #ffffff;
    --background: #FAF9FF;
}

.success {
    position: fixed;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: var(--success-background);
    color: var(--success-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.success__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.success__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.success__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right,
            var(--success-background),
            var(--success-primary));
    border-radius: inherit;
    animation: progress 0.75s 0.5s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.warning {
    position: fixed;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: var(--warning-background);
    color: var(--warning-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.warning__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.warning__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.warning__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right,
            var(--warning-background),
            var(--warning-primary));
    border-radius: inherit;
    animation: progress 0.75s 0.5s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}