body, h1, h2, h3, p, div, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
    margin: 2rem;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
    font-size: 18px;
}
